{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}  

<div class="bg5-img" id="bg" style="background-image: url('{% static "images/background7.jpg"%}')" > 
<div class="row1 row-flex"> 
<div class="col-sm-12 col-lg-12 col-md-12 display panel panel-default" id="name5">
<p>Filter By Brand</p> 

<form> 

{{search_form}}
<button class="btn btn-success" type="submit">Go</button>
</form>
</div>

    <div class="container-fluid" >
    <div class="row"> 

    {% for product in products %} 
            <div class="col-sm-4 col-lg-4 col-md-4 display panel panel-default">
                        <div class="panel-body">
                            <img src="{{MEDIA_URL}}{{product.image}}" alt="" width=150 height=150>
                            <div class="caption"> 
                                <h4 class="pull-right">€{{product.price}}</h4>
                                <h4><a href="{% url 'product_details' product.id %}">{{product.name}} - {{product.brand}}</a>
                                </h4>
                                <p>{{product.description | linebreaksbr }}</p>
                                <p>{{product.brand}}</p>
                            </div> 
                            
                            <div class="ratings">   
                              
                                <p>
                                {% for star in product.stars %}
                                <i class="fa fa-star"></i>
                                {% endfor %}
                                {% if product.needs_half_star %}
                                <i class="fa fa-star-half"></i>
                                
                                {% endif %}                
                                
                                </p> 
                                
                                <form method="POST" action="{% url 'add_to_cart' product.id %}" >
                                {% csrf_token %} 
                                <div class="input-group">
                                   <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">  
                                   <span class="input-group-btn"> 
                                   <button class="btn btn-success" type="submit">Add</button>  
                                   </span>
                                </div> 
                               </form>
                              </div>  
                              </div>
                        </div>
                        
                    
                    
    {% if forloop.counter|divisibleby:3 %}
        </div><div class="row">
    {% endif %}
    {% endfor %}
    </div>
    </div>
    </div>
    </div>
     
     
{% endblock content %}