body {
    font-family: Arial;
    padding-top: 33px; 
    
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px; 
    padding-left: 16px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color:  #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px; 
    margin-right:0px; 
    margin-left:0px;
}


.panel-body {
    height: 100%;
  
}

.panel {
    background-color: rgba(255,255,255,0.8
    )
}

.product-description {
    min-height: 40px;
} 
.bg1-img {
            
            background-image: url('/static/images/background1.jpg');
            background-size: cover;
            background-position:relative;
            background-repeat: no-repeat;
            min-height: 100vh;  
}           
.bg3-img {
            margin-top:30px;
            background-image: url('/static/images/background7.jpg');
            background-size: cover;
            background-position:relative;
            background-repeat: no-repeat; 
            min-height: 100vh;
        
            
}             
            

.bg5-img {
            margin-top:30px;
            background-image: url('/static/images/background7.jpg');
            background-size: cover;
            background-position:relative;
            background-repeat: no-repeat; 
            min-height: 100vh;
        
            
}  
.bg6-img {
            margin-top:15px;
            background-image: url('/static/images/background7.jpg');
            background-size: cover;
            background-position:relative;
            background-repeat: no-repeat; 
            min-height: 100vh;

}

.bg4-img {
            margin-top:28px;
            background-image: url('/static/images/background6.jpg');
            background-size: cover;
            background-position:relative;
            background-repeat: no-repeat; 
            min-height: 100vh;   
            padding: px;
}            
.bg7-img {
            margin-top:20px;
            background-image: url('/static/images/background7.jpg');
            background-size: cover;
            background-position:relative;
            background-repeat: no-repeat; 
            min-height: 100vh;
        
            
}              
#name5{  
    background-color: rgba(255,255,255,0.8);
    margin-left: 0px;
    margin-right: 0px;
}    
        
.container1 {
    margin-right: auto;
    margin-left: auto;
    padding-left: 2px; 
    padding-right: 2px;    
    
}

.login_container {
    margin: 0;
    padding: 0;
    width: 100vw;
}
#cr{ 
    padding-top:60px; 
    padding-left:40px; 
    background-color: rgba(255,255,255,0.8); 
    
} 
#fdb { 
    padding-left:40px;
}
.form-group { 
padding-left: 5px;    
} 
#pro { 
padding-top:20px; 
padding-left:110px;
}
