{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %} 

<div class="card card-outline-secondary my-4" id='editreviewform'>
    <div class="card-header"> 
     <h2>Edit a Review</h2>
    </div>
<form action="{% url 'edit_a_review' pk=review.id %}" method="post">   
    <div class="card-body">
        {% csrf_token %} 
        {{ review_form | as_bootstrap }}
        <br> 
       <input type="hidden" name="product" value="{{product.id}}"/> 
       <input type="hidden" name="review_id" value="{{review.id}}"/>
       <input class="btn btn-success" type="submit" value="Edit"/></p> 
      </fieldset>
</form>
  </article>
{% endblock %}

