{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<div class="card card-outline-secondary my-4">
    <div class="card-header">
      <h2>Product Reviews</h2>
    </div>
    <div class="card-body">

    {% for review in reviews_received.all %}
    <p><strong>{{review.title}}</strong></p>
    <p>{{review.content}}</p>
    <p><small >Rating:
              {% for star in review.stars %}
                  <i class="fas fa-star"></i>
              {% endfor %}
              </small></p> 
               <h3>{{ review.product.heading }}</h3>
    <p><small class="text-muted">Posted by {{review.author.username}} : {{review.date}} : {review_content}</small></p>

    
    {%endfor%}
    </div>
</div>
{% endblock %}


